# Build Artifacts
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
out/
build/

# Runtime Artifacts
tmp/
temp/
temporary/
*.log

# Development Artifacts
.vs
.vscode
CMakePresets.json
