* text=auto

*.sln       merge=binary
*.vcxproj   merge=binary
*.vcproj    merge=binary
*.wixproj   merge=binary

*.jpg	binary
*.png	binary
*.webp	binary
*.ico	binary
*.gif	binary

*.rtf	diff=astextplain
*.RTF	diff=astextplain
